flask==3.0.2
flask-cors==4.0.0
flask-jwt-extended==4.6.0
flask-sqlalchemy==3.1.1
python-dotenv==1.0.1
requests==2.31.0
SQLAlchemy==2.0.27
pymysql==1.1.0
cryptography==42.0.5
gunicorn==21.2.0
uvicorn==0.29.0
https://files.pythonhosted.org/packages/a5/8b/7f9a061c1cc2b230f9ac02a6003fcd14c85ce1828013aecbaf45aa988d20/PyAudio-0.2.14-cp313-cp313-win_amd64.whl
numpy==1.26.4
funasr==1.2.6
openai==1.55.0
edge-tts==6.1.9 
flask-mail
redis
wtforms
opuslib_next
torch
werkzeug